<div class="container">
    <div class="row justify-content-center " style="background-color: #ffffffad">
        <div class="col-sm-12 col-md-12 mt-3">
            {{#each annoucementDetails}}
            <div class="border border-secondary rounded mt-2">
                <h3>Annoucemts:</h3>
                <h4 style="text-align: center;">{{this.name}}</h4>
            </div>
            <div class="border border-secondary rounded mt-2">
                <h3>Description:</h3>
                <h4 style="text-align: center;">{{this.desc}}</h4>
            </div>
            <div class="d-flex flex-wrap  border border-secondary rounded mt-2">
                {{#if this.pdffilename}}
                <div>

                    <iframe src="/annoucementsPdf/{{this._id}}.pdf" width="520" height="240">
                    </iframe>


                </div>
                {{/if}}


                {{#if this.videofilename}}
                <div class="ml-3">
                    <video id="notevideo" width="520" height="240" controls>
                        <source src="/annoucementsVideo/{{this._id}}.mp4" type="video/mp4"></video>
                </div>
                {{/if}}


                {{#if this.imagefilename}}
                <div class="mt-3">
                    <img src="/annoucementsImage/{{this._id}}.jpg" width="520" height="240" alt="">
                </div>
                {{/if}}

            </div>

            {{/each}}



        </div>
    </div>